.cc-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.cc-modal-content{
    background-color: white;
    width: 300px;
    min-height: 150px;
    border-radius: 32px;
    /* overflow: hidden; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 70px 30px 70px; 
}
.cc-modal-body{
    /* background-color: rgb(65, 23, 180); */
    width: 100%;
}
.cc-sub-btn{
    /* background-color: rgb(107, 180, 23); */
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cc-modal-header{
    padding: 24px 0;
    width: 100%;
    font-size: 28px;
}

.cc-modal-title {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 16pt;
    margin: 10px;
}
.cc-error{
    color: red;
}
.canvName{
        border: 3px solid var(--soft-grey);
    padding: 10px;
    color: var(--charcoal-grey);
    border-radius: 6px;
    margin-bottom: 10px;
}
.close-button {
    position: absolute;
    top: 28px;
    right: 20px;
    background-color: transparent;
    border:none
}
  
  .cc-modal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }


