.ink-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    justify-content: flex-end;
    margin-top: -15px;
    margin-right: 20px;
}

.ink-modal-content {
    width: 500px;
    background-color: #fff;
}
