.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.flw-modal-content {
  width: 350px;
  background-color: #fff;
  border-radius: 32px;
  height: 250px;
  max-height: 400px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flw-modal-list {

  width: 275px;

  height: 200px;
  max-height: 300px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.follow-user-container {
  display: flex;
  align-items: center;

  width: 200px;
  margin: 10px;
}

.fllwer-link {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.modal-header {
  padding: 24px 0;
  width: 100%;
  font-size: 28px;
}

.modal-title {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.close-button {
  position: absolute;
  top: 28px;
  right: 20px;
  background-color: transparent;
  border:none
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.follows-modal-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 8px 24px; */
}

.toggle-follow-btn {
    background-color: #efefef;
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 24px;
    font-weight: bold;
}
