/* TODO Add site wide styles */
:root{

    /* Nice Soft Box Shadow*/
    --soft-boxShad: 0 0 10px rgb(0, 0, 0, .5);
    /* Navbar Colors */
    --off-white: rgb(240, 240, 240);
    --soft-grey: rgb(230, 230, 230);
    --hover-grey: rgb(220, 220, 220);

    /* Profile Dropdown */
    --hover-grey-yellow: rgb(236, 236, 232);
    --charcoal-grey: #333;


    /* INK TILES - Reds for bottons and button hovers */
    /* INK TILES - Greys for bottons and button hovers */
    --red-btn: red;
    --red-btn-hover:rgb(197, 22, 22);
    --ink-tile-btn: rgb(235,235,235);
    --ink-tile-btn-hover: white
}

body{
    font-family: Arial, Helvetica, sans-serif;
}