
.nav-bar{
    /* background-color: rgb(194, 120, 24); */
    background-color: white;
    width: 98%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-section{
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* ==== Nav Items =========== */
.nav-item{
    /* background-color: chartreuse; */
    height: 46px;
    min-width: 46px;
    padding: 0 12px;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item:hover{
    cursor: pointer;
    background-color: var(--soft-grey);
}
.no-pad{
    padding: 0;
}
.nav-items-right > *{
    width: 46px;
}

.nav-icon{
    max-height: 30px;
    max-width: 30px;
}
.chevron-btn{
    background-color: transparent;
    /* background-image: url("./../images/downChevron.png"); */
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    height: 30px;
    width: 30px;
    color: var(--charcoal-grey);
    font-size: 11pt;
    text-align: center;
}
.user-letter{
    font-size: 10pt ;
    color: var(--charcoal-grey);
}
.nav-banner{
    max-height: 30px;
    padding: 0 8px;
}
/* =========== Search Bar =================== */
.search-icon{
    width: 18px;
    height: 18px;
}
.nav-search-container{
    /* background-color: rgb(98, 214, 104); */
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    margin: 0 8px;
}
.nav-search-box:hover{
    background-color: var(--hover-grey);
}
.nav-search-input{
    background-color: var(--off-white);
}
.nav-search-box:hover .nav-search-input{
    background-color: var(--hover-grey);
}

.nav-search-box{
    background-color: var(--soft-grey);
    height: 46px;
    border-radius: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}
.nav-search-box > *{
    margin-left: 10px;
}
.nav-search-box > input {
    background-color: var(--soft-grey);
    outline: none;
    border: none;
    font-size: 12pt;
}

/* ======= Nav Splash Modifications ========================*/
.nav-splash-item{
    background-color: var(--soft-grey);
    width: fit-content;
    padding: 0 12px;
    margin: 4px;
}


.nav-bell{
    transition: 0.3s;
}
.bell-text{
    color: var(--charcoal-grey);
    text-decoration: none;
    display: none;
    margin-left: 8px;
    transition: 0.2s;
}
.nav-bell:hover{
    width: 80px;
    padding-left:16px;
    justify-content: flex-start;
}
.nav-bell:hover .bell-text{
    display: block;

}
