:root{
    --hover-grey: rgb(236, 236, 232);
    --soft-grey: rgb(189, 189, 189);
    --charcoal-grey: rgb(56, 56, 56);
}
.profile-dd-container{
    /* background-color: darkorange; */
    margin-right: 20px;
    float: right;
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .5);
    /* display: none; */
}
.profile-dd-container a{
    text-decoration: none;
}

.prof-dd-row{
    padding: 8px 12px;
    border-radius: 8px;
}
.prof-dd-row > a {
    font-weight: bold;
    text-decoration: none;
    color: var(--charcoal-grey);
}
.prof-dd-title{
    font-size: 9pt;
    color: var(--soft-grey)
}

/* ==== card styling ============== */
.prof-dd-card{
    /* background-color: darkorchid; */
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 8px;
}
.prof-dd-uimg{
    width: 60px;
    height: 60px;
}
.pd-checkmark{
    height: 15px;
    width: 15px;
}
.prof-dd-card-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 10px;
}
.pd-text{
    margin: 0;
    padding: 0;
}
.pd-name{
    font-weight: bold;
    margin: 2px 0;
}
.pd-acctype{
    font-size: 10pt;
    color: var(--soft-grey)
}
.pd-email{
    font-size: 10pt;
    color: var(--soft-grey)

}

.pd-hov:hover{
    background-color: var(--hover-grey);
}
