.profile-page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile-page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.image-circle {
    height: 120px;
    width: 120px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.profile-name {
    font-size: 12px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile-page-body {
    display: flex;
    flex: row;
    justify-content: space-between;
}

 /* ================== Create -- Dropdown Menu =========================== */
.plus-dd{
    /* background-color: rgb(158, 125, 88); */
    text-align: end;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* this part controls the "+" portion */
.control:hover{ background-color: var(--soft-grey); }
.control{
    /* background-color: rgb(128, 68, 0); */
    background-image: url("./../images/plusSign-darkGrey.png");
    background-position: center center;
    background-size: cover;
   height: 36px;
   width: 36px;
   border-radius: 18px;
   padding: 0;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}
/* Sets the 'create' label for the two dropdown options */
.menu{
    /* background-color: green; */
   color: grey;
   padding: 10px;
   margin-bottom: 6px;
   width: 140px;
   border-radius: 10px;
   box-shadow: var(--soft-boxShad);
}
/* sets containers for all menu options */
.menu > * {
    /* background-color: rgb(128, 0, 96); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
/* sets the two menu options */
/* .menu > * :hover{ cursor: pointer; background-color: var(--hover-grey); } */
.create-option:hover{ cursor: pointer; background-color: var(--hover-grey); }
.create-option{
    /* border: 2px solid black; */
    width: 90%;
    text-align: left;
    color: var(--charcoal-grey);
    font-weight: 900;
    font-size: 11pt;
    padding: 6px;
    border-radius: 8px;
    
}

 /* ================== Canvas Tile Styling ====================================== */

 .users-canvases-collection{
    border-top: 2px solid lightgrey;
    /* background-color: rgb(207, 49, 62); */
    max-width: 100%;
    margin: 20px 0;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

 }
 .canvas-tile{
     /* background-color: rgb(49, 52, 207); */
     margin: 10px 10px;
     width: 150px;
     height: 100px;
    }

    .canvas-tile-image-container{
    width: 150px;
    height: 75px;
    overflow: hidden;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    border-radius: 6px;
}


.canvas-tile-image{
    /* background-color: rgb(119, 119, 119); */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.canvas-tile-footer{
    /* background-color: rgb(112, 211, 218); */
    padding: 4px;
    text-overflow: ellipsis;
}
    
.canvas-tile-image-lock{
    background-color: var(--soft-grey);
    max-height: 15px;
    max-width: 20px;
    border-radius: 50%;
    position: absolute;
    margin: 5px;
    padding: 5px;
}

.canvas-tile-image-container:hover .canvas-tile-image-pen{ opacity: 1;}
.canvas-tile-image-pen{
    opacity: 0;
    background-color: var(--soft-grey);
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%;
    position: absolute;
    padding: 5px;
    margin-top: 35px;
    margin-left: 5px;
}






/* =========================================== */
/* Don't add additional properties to this. */
.fas{
    color: #333;
}