
.splash-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 700px;
    left: -100%;
    right: -100%;
    z-index: -5;
}

.splash-container * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-container {
    background-color: antiquewhite;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-text-1 {
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 5px;
}

.splash-text-2 {
    font-size: 45px;
    font-weight: 600;
    color:cornflowerblue;
    margin-top: 5px;
}

/* ===================== BOTTOM CONTAINER ================= */
.bottom-container {
    background-color: rgb(238, 174, 90);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-1 {
    background-color: aqua;
    width: 250px;
    height: 1000px;
    border-radius: 10px;
    transform: translateY(-15%);
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-2 {
    background-color: rgb(77, 163, 163);
    width: 250px;
    height: 1000px;
    border-radius: 10px;
    transform: translateY(0%);
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-3 {
    background-color: rgb(151, 172, 85);
    width: 250px;
    height: 1000px;
    border-radius: 10px;
    transform: translateY(15%);
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-4 {
    background-color: rgb(241, 211, 182);
    width: 250px;
    height: 1000px;
    border-radius: 10px;
    transform: translateY(25%);
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-5 {
    background-color: rgb(138, 146, 251);
    width: 250px;
    height: 1000px;
    border-radius: 10px;
    transform: translateY(15%);
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-6 {
    background-color: rgb(193, 221, 168);
    width: 250px;
    height: 1000px;
    border-radius: 10px;
    transform: translateY(0%);
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-7 {
    background-color: rgb(155, 236, 147);
    width: 250px;
    height: 1000px;
    border-radius: 10px;
    transform: translateY(-15%);
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crust-layer {
    background-color: black;
    border-radius: 10px;
    width: 240px;
    height: 320px;
    margin: 5px 3px 5px 3px;
}

.mantle-layer {
    background-color: black;
    border-radius: 10px;
    width: 240px;
    height: 320px;
    margin: 5px 3px 5px 3px;
}

.outer-core-layer {
    background-color: black;
    border-radius: 10px;
    width: 240px;
    height: 320px;
    margin: 5px 3px 5px 3px;
}

.inner-core-layer {
    background-color: black;
    border-radius: 10px;
    width: 240px;
    height: 320px;
    margin: 5px 3px 5px 3px;
}
